.page-template-template-crew {
  .main-content {
    padding-top:0;
  }
}
.crew-header {
  height: 76vh;
  margin-bottom: 4rem;
  position:relative;
}


#taken-crew {
  margin-bottom:4rem;

  img {
    max-width:100%;
    height:auto;
  }

  .crew-member {
    background-color:#252525;
    color:#FFF;
    margin-bottom:4rem;
    @include transition(600ms);

    .wrap-left { float:left; }
    .wrap-right { float:right; }

    &:nth-child(2n){
      .wrap-left { float:right; }
      .wrap-right { float:left; }

      .gallery {
        .slick-dots {
          right:15px;
          left:auto;
        }

        figure {
          figcaption {
            right:0;
            left:auto;
          }
        }
      }
    }

    &:hover {
      background-color:#000;
    }
  }

  .wrap-right {
    padding:2rem 4rem;
  }

  .item {
    width:50%;

    header {
      border-color:#3a3a3a;
      margin-bottom:2rem;

      .title {
        font-size:24px;
      }
    }

    .content {
      margin-bottom:2rem;
      color:#FFF;
      font-family:$font-family-sans-serif;
    }

    .latest-edit {
      text-transform:uppercase;
      font-size:14px;
      font-family:$font-family-sans-serif;
      font-weight:600;
      margin-bottom:2rem;

      a {
        color:#FFF;
      }

      .fa {
        font-size:16px;
        position:relative;
        left:2px;
        right:auto;
        @include transition(500ms);
      }

      &:hover {
        .fa {
          left:6px;
        }
      }
    }

    .social-media-icons {

      li:first-child {
        margin-left:0;
      }

      .fa {
        font-size:34px;
      }
    }
  }

  .gallery {

    .img-item {
      height:420px;
      display:block;
    }

    figure {
      position:relative;

      figcaption {
        position:absolute;
        right:0;
        left:auto;
        background-color:rgba(0,0,0,.7);
        color:#FFF;
        font-family:$font-family-sans-serif;
        font-weight:500;
        font-size:14px;
        padding:1rem 1.5rem;
        bottom:0;
      }
    }
  }
}


#crew-nav {
  margin-bottom:6rem;

  header {
    margin-bottom:2rem;

    .title {
      font-size:36px;
    }
  }
}


.gallery {
  position:relative;

  .slick-dots {
    position:absolute;
    left:15px;
    right:auto;
    bottom:5px;
		margin:0;
		padding:0;

		li {
			display:block;
			float:left;
			position:relative;
      padding:1rem 0;

			.dot {
				display:block;
				margin:0 3px;
				background-color: transparent;
				border: none;
				height: 12px;
				width: 12px;
				position: relative;
				border: 2px solid #FFF;

				@include transition(900ms);
        -webkit-border-radius:50%;
        border-radius:50%;

				&:hover {
					background-color: #FFF;
				}
			}

			&.slick-active {
				.dot {
					background-color: #FFF;
				}
			}
		}
	}

}

.categories-nav-wrap {
  position:relative;
  top:0;
  bottom:auto;
  width:100%;
  right:auto;
  transition: all 400ms ease;

  &.activate {
    position:fixed;
    top:62px;
    left:15px;
    z-index:10;

    a {
      color:#FFF;
    }
  }
}


.wrap-scroll {
	position: absolute;
	width: 260px;
	left: 50%;
	bottom: 3%;
	margin-left: -130px;
	display: block;
	z-index: 3;
}

.wrap-scroll .text {
	font-size: 14px;
	line-height: 34px;
	letter-spacing: 2px;
	text-transform: uppercase;
	opacity: 0.7;
	color: #FFF;
	text-align: center;
}

.scroll-arrows {
    border-bottom: 2px solid #FFF;
    border-right: 2px solid #FFF;
    display: block;
    height: 24px;
    margin: 0 auto 3px auto;
    width: 24px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.scroll-arrows.one,
.scroll-arrows.two,
.scroll-arrows.three{
	-webkit-animation:mouse-scroll 1.6s infinite;
	-moz-animation:mouse-scroll 1.6s infinite;
}

.scroll-arrows.one{
	-webkit-animation-delay:.2s;
	-moz-animation-delay:.2s;
	-webkit-animation-direction:alternate;
}

.scroll-arrows.two{
	-webkit-animation-delay:.3s;
	-moz-animation-delay:.3s;
	-webkit-animation-direction:alternate;
	margin-top:-6px;
}

.scroll-arrows.three{
	-webkit-animation-delay:.4s;
	-moz-animation-delay:.4s;
	-webkit-animation-direction:alternate;
	margin-top:-6px;
}

@-webkit-keyframes mouse-scroll{
	0%{opacity:0}
	50%{opacity:.5}
	100%{opacity:1}
}

@-moz-keyframes mouse-scroll{
	0%{opacity:0}
	50%{opacity:.5}
	100%{opacity:1}
}

@-o-keyframes mouse-scroll{
	0%{opacity:0}
	50%{opacity:.5}
	100%{opacity:1}
}

@keyframes mouse-scroll{
	0%{opacity:0}
	50%{opacity:.5}
	100%{opacity:1}
}



/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-md) {


  #taken-crew {
    .gallery {
      .img-item {
        height:300px;
      }
    }

    .item {
      header {
        .title {
          font-size:20px;
        }
      }
    }
    .wrap-left {
      width:62%;
    }

    .wrap-right {
      width:38%;
      padding:2rem 1rem;
    }

    .crew-member {
      &:nth-child(2n){

      }
    }
  }

  .crew-header {
    margin-bottom: 4rem;
  }

  #crew-nav {
    margin-bottom: 2rem;
  }

}



/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {
  #taken-crew {

    .gallery {
      .img-item {
        height:240px;
      }
    }

    .item {
      header {
        .title {
          font-size:19px;
        }
      }
    }

    .crew-member {
      .wrap-left {
        float:none;
        width:100%;
      }

      .wrap-right {
        width:100%;
        float:none;
      }
    }
  }


  #crew-nav {

    header {
      .title {
        font-size:28px;
      }
    }
  }


}
