
/* Map
------------------------------------------------------*/
#map {
  height:0;
  overflow:hidden;
  position:relative;

  article.marker {
    opacity:0;
  }

  .append-map {
    height:400px;
    position:relative;
  }
}


/* Footer
------------------------------------------------------*/
#main-footer {
  padding:0;
  margin:0;
  text-align:center;
  border-top: 6px solid #000;
  position: relative;
  box-shadow: 0 0px 4px rgba(#000,.8);

  @extend .bg-cover;

  background-image:url('../images/footer-bg.jpg');
  background-position:-50px 85%;

  color:#FFF;

  .inner {
    background-color:rgba(0,0,0,.85);
    padding:2rem 0;
  }

  .store-info,
  p,
  a {
    font-size:14px;
    font-weight:300;
    color:#FFF;
  }

  p {
    margin-bottom:0;
  }

  .address {
    p:first-of-type {
      margin-bottom:8px;
    }
  }

  a {
    text-decoration:none;

    &:hover {
      text-decoration:underline;
    }
  }


  //Logo
  .takenbmx-logo {
    margin-bottom:1rem;
    display:block;

    img {
      display:inline-block;
      max-width:160px;
    }
  }

  .social-media-icons {
    @extend .cul;
  }

  .store-info {
    margin-bottom:2rem;
  }

  .email,
  .phone {
    margin:0 0.5rem;
  }

  .email {
    position:relative;
  }

  .hours {
    margin-bottom:2rem;
  }

}

/* Copyrights
------------------------------------------------------*/
#copyrights {
  padding:0.5rem 1rem;
  text-align:left;
  background-color:$brand-primary;
  color:#FFF;
  margin:0;
  font-size:10px;

  p,
  a {
    font-size:10px;
    margin:0;
  }
}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {

}
