
/*  MOBILE HEADER
------------------------------------------------------*/
#mobile-header {
	display: none;
}


/*  Mobile Nav
------------------------------------------------------*/
.mobile-menu-open {
	#mobile-fixed-nav {
		right: 0;
	}
}


/* Wrapper
--------------------------------------------------------------------------*/
#mobile-fixed-nav {
	position: fixed;
	right: -241px;
	left: auto;
	bottom: auto;
	top: 0;
	width: 220px;
	padding: 0;
	height: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 9999;

	@include transition(400ms);

	#close-mobile-menu {
		text-align: right;
		position: absolute;
		right: 15px;
		top: 6px;
		width: 30px;
		height: 30px;
		border: none;
    color:#FFF;
    z-index: 9999;

    .fa {
      color:#FFF;
      font-size:24px;
    }

		@include transition(400ms);

		&:hover {
			opacity: .8;
			top: 0.7em;
		}
	}

	.nav-wrap {
    overflow:auto;
		padding: 30px 10px 0 20px;
    height:100%;
    position:relative;
    z-index: 2;
	}

	ul {

		li {
			list-style: none;
			text-align: left;
			line-height: 1.3;
      margin-bottom:3px;
      padding-bottom:3px;

			a {
				color: #FFF;
        letter-spacing:1px;
				left: 0;
				position: relative;
				right: auto;
				opacity: 1;
        border-bottom:1px solid #666;
        display: block;

				@include transition(350ms);

				&:hover {
					opacity: .8;
				}
			}

			&.current-menu-item {

				> a {
					opacity: .8;
				}
			}
		}


		> li {

			> a {
        text-transform:uppercase;
				position: relative;
			}

			ul.sub-menu {
				margin:4px 0 0 0;

				li {

					&.current-menu-item {
						text-decoration: underline;
						opacity: .8;
					}

					a {
            padding-left:5px;
						font-size: 0.9em;
            text-transform:none !important;
						font-weight: 600;
            color:#f2f2f2;

						&:hover {
							left: 2px;
						}

					}
				}

        ul.sub-menu {
          li {
            a {
              padding-left:10px;
              font-weight: 400;
              text-transform:none !important;

              &:before {
                content:"- ";
                display:inline-block;
                position:relative;
                left:-3px;
              }
            }
          }
        }
			}
		}
	}
}


/* MEnu
--------------------------------------------------------------------------*/
#mobile-nav {
	float: left;
	margin:13px 0 0 13px;
	display: none;

	.hamburger {
		height:auto;
		display:block;
		color: #000;
		width:23px;

		.line {
		  display: block;
		  height:3px;
		  margin-bottom:4px;
		  width:100%;
		  position: relative;
		  top:0;
		  left: 0;
		  bottom: auto;
		  right: auto;
      background-color:#FFF;
      border-radius:1px;
      transition: all 0.4s ease-in-out 0s;
		}

    &:hover,
    &:focus {
      .line {
        background-color:$brand-primary;
      }
    }

    &.active {
      .line-1 {
        top: 6px;
        transform: rotate(45deg);
      }

      .line-2 {
        opacity: 0;
      }

      .line-3 {
        top: -8px;
        transform: rotate(-45deg);
      }
    }
	}
}


/*-------------------------------------------------------------------------
            @Mobile xs
--------------------------------------------------------------------------*/
@media (max-width: $screen-md) {

  #mobile-nav {
		display: block;
	}

  #main-nav {
    display:none;
  }

  #main-header {
     height:40px;

     .search-form {
       right:1.5rem;
			 z-index: -1;

       input[type="search"] {
         height:25px;
         padding:0 4px;
         width:110px;
       }

        button {
          padding:2px 4px;
        }
     }

     &.search-active {
      .search-form {
        bottom:0.2rem;
				z-index: 1;
      }
     }

     .takenbmx-logo {
       display:none;
     }
  }

  .centered-logo {
    width:110px;
    margin-left:-58px;
    margin-top:-2px;
  }

  .home #main-header.scroll-init .centered-logo {
    opacity:1 !important;
  }

  .header-right-nav {
    nav {
      margin:1rem 1rem 0;

      .fa {
        font-size: 18px;
      }
    }
  }

  .social-media-icons {
    ul {
      li {
        margin:0 0.6rem;

        .fa {
         font-size: 19px;
        }
      }
    }
  }

  .btn-search {
    display:block;
  }
}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {

  .social-media-icons {
    ul {
      li {
				margin: 0 5px !important;

        .fa {
         font-size: 18px;
        }
      }
    }
  }

}
