
/*  Header
-----------------------------------------------------------------------*/
#main-header {
  height:60px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:auto;
  bottom:auto;
  background-color:#141414;
  border-bottom:2px solid #000;
  z-index:100;
  box-shadow:0 1px 2px #333;
  overflow: visible;
  @include transition(800ms);

  .takenbmx-logo {
    float:left;
    display:block;
    background-color:#000;
    padding:0 1rem;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    opacity:1;
    @include transition(400ms);

    img {
      max-width:160px;
    }
  }
}

.home {
  #main-header {
    position:absolute;
    top:auto;
    opacity:0;
  }
}

.home {
  &.slideshow-loaded {
    #main-header {
      opacity:1 !important;
    }
  }
}

/*  Main Nav
-----------------------------------------------------------------------*/
#main-nav {
  float:left;
  position:relative;
  top:2rem;
  left:0.5rem;
  right:auto;
  bottom:auto;
  z-index:10;
  transition: all 400ms ease;
}

#main-nav {
  &:hover {
    > ul {
      > li {
        > a {
          opacity:.2;
        }
      }
    }
  }
}

#main-nav {
  > ul {
    display: flex;

    > li {
      padding-bottom: 30px;
      float: left;
      margin-right: 2rem;
      position: relative;

      &.active {
        > a {
          color:$brand-primary;
          text-shadow: 1px 1px 0px rgba($brand-secondary, 1);
        }
      }

      &:last-child {
        margin-right:0;
      }
    }
  }
}

#main-nav {
  ul {
    padding:0;
    margin:0;

    li {
      list-style:none;
    }
  }
}

#main-nav {
  a {
    color:#FFF;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:3px;
    font-size:19px;
    font-family: $oswald;
    text-shadow: 1px 1px 0px rgba($brand-secondary, 0);

    @include transition(600ms);

    &:hover,
    &:active,
    &:focus {
      color:$brand-primary;
      text-shadow: 1px 1px 0px rgba($brand-secondary, 1);
      text-decoration:none;
      outline:none;
      opacity:1 !important;
    }
  }
}


/* Level - 2
--------------------------------*/
#main-nav {
  .sub-menu {
    display: none;
    position: absolute;
		top: 52px;
		left: -40px;
		margin-left: 0;
		width: 260px;
    z-index: -2;
    opacity: 0;
    transition: all 300ms ease;

    &:after{
			position: absolute;
			left: 60px;
			top: -10px;
			content: "";
			width: 0;
		  height: 0;
		  border-left: 10px solid transparent;
		  border-right: 10px solid transparent;
		  border-bottom: 10px solid rgba(0,0,0,1);
		}
  }

  /* Level - 2
  --------------------------------*/
  .sub-menu {
    a {
			display: block;
			background-color: rgba(0,0,0,1);
			padding: .5rem 1rem;
      font-size: 15px;
			top:0;
      transition: all 400ms ease;
    }
  }

  .sub-menu {
    li {
      float: none !important;
      margin: 0 !important;
			display: block;
			width: 100%;
      border-bottom: 1px solid #666;

      &:last-child {
        border-bottom: none;
      }

      &.active {
        a {
          transform: scale(1.02);
          color:$brand-primary;
          text-shadow: 1px 1px 0px rgba($brand-secondary, 1);
        }
      }
    }
  }
}


/* Droodown show sub menu - js
-------------------------------------------*/
#main-nav {
  .menu-item {
    &.menu-item-has-children {
      &:hover,
      &.hover-active {
        .sub-menu {
          display: block;
          opacity: 1 !important;
          a {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}


/*  Right nav
-----------------------------------------------------------------------*/
.header-right-nav {
  float:right;
  position: relative;

  nav {
    float:left;
    margin:2rem 2rem 0 0;
  }

  .social-media-icons {
    display: none;
  }

  .search-wrap {
    position:relative;

    a {
      font-size:20px;
      line-height:1;
      color:#FFF;
      position:relative;
      right:0;
      top:0;
      left:auto;
      bottom:auto;

      @include transition(600ms);

      &:hover,
      &:focus,
      &:active {
        color:$brand-secondary;
        text-decoration:none;
        outline:none;
      }

      &.global-search {
        opacity:1;
        z-index:2;
      }

      &.close-search {
        opacity:0;
        z-index:1;
        position:absolute;
      }
    }
  }

  /*  Cart  */
  .cart-contents {
    display:none;
  }
}


/*  Search form
-----------------------------------------------------------------------*/
.search-form {
  position:absolute;
  right: -100px;
  top:auto;
  left:auto;
  bottom: .5rem;
  opacity: 0;
  z-index: -1;

  @include transition(500ms);

  form {
    position:relative;

    button {
      position:absolute;
      right:3px;
      left:auto;
      top:0;
      background-color:transparent !important;
      border:none !important;
    }
  }
}


/*  Search
-----------------------------------------------------------------------*/
#main-header {
  &.search-active {

    .social-media-icons {
      top:-100px;
    }

    .search-form {
      opacity: 1;
      right: 2.5rem;
      z-index: 1;
    }

    .btn-search {

      &.global-search {
        opacity:0;
        z-index:1;
      }

      &.close-search {
        opacity:1;
        z-index:2;
      }
    }
  }
}

/*  HOME
-----------------------------------------------------------------------*/
.centered-logo {
  position:absolute;
  left:50%;
  top:10%;
  margin:0 0 0 -75px;
  z-index:1;
  width:150px;
  opacity:1;
  display: none;

  @include transition(200ms);

  img {
    max-width:100%;
    width:100%;
  }
}

.home {

  .centered-logo {
    display:block;
  }

  #main-header {

    .takenbmx-logo {
      opacity:0;
    }

    #main-nav {
      left:-160px;
    }

    &.scroll-init {
      .takenbmx-logo {
        opacity:1;
      }

      #main-nav {
        left:0.5rem;
      }

      .centered-logo {
        opacity:0;
      }
    }
  }
}


.home {
  #main-header {
      &.fixed-header {
        position:fixed;
        top:0;
      }
  }
}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-md) {
  .centered-logo {
    display:block;
  }
}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {

  #main-header {
    .header-right-nav nav {
      margin-right:0.6rem;
    }
  }

  #main-header {
    .social-media-icons {
      ul {
        li {
          margin:0 0.3rem;

          .fa {
            font-size:17px;
          }
        }
      }
    }
  }
}




/* Account menu
------------------------------------------------*/
.account-menu {
  position: absolute;
  right: calc(100% + 18px);
  top: 11px;

  @media (max-width: $screen-md) {
    top: 2px;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      list-style-type: none;
      float: left;
      margin-right: 1.2rem;
      position: relative;

      @media (max-width: $screen-md) {
        margin-right: .8rem;
      }

      @media (max-width: $screen-sm) {
        margin-right: .6rem;
      }

      &.icon-account {
        @media (max-width: $screen-sm) {

        }

        a {
          width: 32px;
          height: 32px;
          position: relative;
          background-image: url(../images/icon-account.png);

          @media (max-width: $screen-sm) {
            width: 28px;
            height: 28px;
          }
        }
      }

      &.icon-cart {
        a {
          width: 33px;
          height: 34px;
          position: relative;
          background-position: center;
          background-size: 35px;
          text-align: center;
          background-image: url(../images/icon-cart.png);


          @media (max-width: $screen-sm) {
            width: 35px;
            height: 34px;
            top: -1px;
            background-position: 50% 0px;
          }
        }

        .count {
          position: relative;
          top: 15px;
          display: block;
          text-align: center;
          left: .4px;
        }
      }

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  a {
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    color: #FFF;
    font-size: 11px;
    transition: all 400ms ease;
    transform: translateY(0);
    opacity: 1;


    &:hover {
      opacity: .8;
      text-decoration: none;
      transform: translateY(1px);
    }
  }
}

@media only screen and (max-width: 767px){
  .account-menu {
    right: 14px;
  }
}



/* Hamburger
------------------------------------------------*/
.close-icon {
  color: #000;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  transition: all 400ms ease;
  margin: 12px 0 0;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;

  .line {
    transition: all 400ms ease;
    height: 3px;
    display: block;
    position: relative;
    width: 20px;
    margin-bottom: 3px;
    background-color: #000;
    transform: rotate(0deg);
  }

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
  }

  .line-1 {
    top: 6px;
    transform: rotate(45deg);
  }

  .line-2 {
    top: 0;
    transform: rotate(-45deg);
  }
}
