
#intro {
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 999;
	left: 0;
	top: 0;
	display: block;
  background-color: #000;
  z-index: 9999;
  text-align:center;
  overflow: auto;
  transition-property: transform;
  transition-duration: 0.3s;
  transform: translateY(0);
  opacity:0;

  .taken-logo {
    width:300px;
    height:110px;
    background-image:url('../images/taken-summer-logo.png');
    background-size: 300px auto;
    background-color:transparent;
    background-position:center center;
    background-repeat:no-repeat;
    display:inline-block;
    animation: scaleLogo 1s ease-in-out 1s infinite both;
  }

  @keyframes scaleLogo {
    0%,100% {transform:scale(1);}
    50% {transform:scale(1.1);}
  }


  .video-wrapper {
    width: 40%;
    margin: 1rem auto;
  }

  .title {
    font-size:18px;
    color:$brand-secondary;
    letter-spacing:1px;
    display:block;
    font-family:$oswald;
  }
}


.add-intro {
  #intro {
    opacity:1;
    transform: translateY(0);
    display: block;
  }
}

.remove-intro {
  #intro {
    transform: translateY(-100%);
  }
}



/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-md) {
  #intro {

    .video-wrapper {
      width:70%;
    }

    .taken-logo {
      height:85px;
      background-size: 220px auto;
    }

    .title {
      font-size:16px;
    }
  }
}
