
/* Home-slider
--------------------------------------------------------------------*/
#main-slideshow {
  overflow: hidden;
  margin:0;
  height: 84vh;
  position:relative;

  &.images-loaded {

    .slide-item {
      opacity:1 !important;
    }

    .css-loader {
      z-index: -9999;
      opacity: 0;
    }
  }

  .css-loader {
    position:absolute;
    top:40%;
    left:50%;
    margin-left:-2em;
  }

  .slide-item {
  	height: 84vh;
  	position: relative;
  	cursor: all-scroll;
    opacity:0;
    transition: all 600ms ease;
    transform: scale(1);

    .bg {
    	position: absolute;
    	bottom:0;
    	left:0;
    	z-index: 1;
    	display: block;
    	width: 100%;
    	height: 100%;
    	min-height: 100%;
    	background-color: rgba(0,0,0,.5);
      transition: all 600ms ease;
    }

    .wrap {
    	position: relative;
    	top: 36%;
    	z-index: 10;
    	display: block;
    	color: #FFF;
    	width:80%;
    	margin: 0 auto;
      text-align:center;

      .date {
        display:block;
        padding-bottom:1rem;
        margin-bottom:0.2rem;
        font-weight:600;
        text-transform:uppercase;
        font-size:11px;
        position:relative;
      }

      .post-info {
      	display: inline-block;
      	font-size: 12px;
        font-weight:300;
      	margin-bottom: 1rem;
      	position: relative;

        span {
          margin:0 5px;
        }
      }

    }

    .title {
    	color: #FFF;
    	font-size: 3.6rem;
      font-weight:700;
      line-height: 1.1;
    	margin-bottom: 1rem;
      letter-spacing:1px;
      text-shadow: 1px 1px 0px rgba($brand-secondary, 0);
      transition: all 600ms ease;
    }

    &:hover,
    &:focus {

      .bg {
        background-color: rgba(0, 0, 0,.2);
      }

      .title {
        text-shadow: 1px 1px 0px rgba($brand-secondary, 1);
        color:$brand-primary;
      }
    }

  }//slide-item



}//main-slideshow



/* Controls
--------------------------------------------------------------------*/
#main-slideshow {

  #controls {
    position:absolute;
    width:100%;
    bottom:6%;
    left:0;
    z-index:11;

    .wrap-controls {
      position:relative;
      width:280px;
      margin:0 auto;
    }

    .wrap-arrows {
      position:relative;
    }
  }

  .slick-dots {
    top:2rem;
		clear:left;
		float:left;
		position:relative;
		left:50%;
		text-align:center;
		list-style:none;
		margin:0;
		padding:0;

		li {
			display:block;
			float:left;
			position:relative;
			right:50%;
      padding:1rem 0;

			.dot {
				display:block;
				margin:0 3px;
				background-color: transparent;
				border: none;
				height: 12px;
				width: 12px;
				position: relative;
				border: 2px solid #FFF;

				@include transition(900ms);
        -webkit-border-radius:50%;
        border-radius:50%;

				&:hover {
					background-color: #FFF;
				}
			}

			&.slick-active {
				.dot {
					background-color: #FFF;
				}
			}
		}
	}



  .prev-arrow,
  .next-arrow {
    font-size: 60px;
    color: #FFF;
    position: absolute;
    top:-5px;
    bottom:auto;
    padding:1rem;
    z-index:1;

    @include transition(200ms);
  }

  .prev-arrow {
    left: 0;
    right:auto;

    &:hover,
    &:focus {
      left:-2px;
    }
  }

  .next-arrow {
    right: 0;
    left:auto;

    &:hover,
    &:focus {
      right:-2px;
    }
  }

}





/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {

  #main-slideshow .slide-item .title {
    font-size:2.2rem;
  }

}
