
/*  Title one
--------------------------------------------------------*/
.title-wrapper {
  background-color:#110c00;
  display:block;
  overflow:hidden;
  margin-bottom:4rem;

  .title {
    background-color:$brand-primary;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:#FFF;
    text-transform:uppercase;
    padding:1rem 2rem;
    font-size:28px;
    letter-spacing:2px;
    display:inline-block;
    margin:0;
  }
}

/*  Title two
--------------------------------------------------------*/
.title-secondary {
  display:block;
  margin-bottom:4rem;
  border-bottom:6px solid #000;

  &.news-header {
    margin-bottom:1rem;
  }

  .title {
    white-space:nowrap;
    text-overflow:ellipsis;
    color:#000;
    text-transform:uppercase;
    padding:1rem 0;
    font-size:28px;
    letter-spacing:2px;
    display:inline-block;
    margin:0;
    position:relative;
    font-weight:700;
    color: #d22027;
    -webkit-text-shadow: 1px 1px 0 #e4c61f;
    text-shadow: 1px 1px 0 #e4c61f;

    &:after {
      content:"";
      position:absolute;
      left:0;
      width:100%;
      height:6px;
      bottom:-6px;
      display:block;
      background-color:$brand-primary;
    }
  }
}

/*  Post column
--------------------------------------------------------*/
.news-post {
  margin-bottom:5rem;
  border-bottom:8px solid #ddd;

  .video-icon {
    display:none;
    position:absolute;
    left:50%;
    top:50%;
    height:56px;
    width:56px;
    margin-top:-28px;
    margin-left:-28px;
    z-index:1;
    opacity:.8;

    .fa {
      font-size:64px;
      color:#FFF;
    }
  }

  &.category-videos {
    .video-icon {
      display:block;
    }
  }

  .link-wrap {
    color:#000;
    text-decoration:none;
    position:relative;
    display:block;

    &.img-wrap {
      display:inline-block;
      overflow:hidden;
      position:relative;
    }
  }

  .wrap-entry-post {
    padding:2rem 0 1.5rem;
  }

  .feat-img {
    max-width:100%;
    height:auto;
    opacity:1;
    @include transition(2s);
  }

  .title {
    margin-bottom: 0.5rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ddd;
    display: block;
    color: #000;
    font-size: 25px;
    font-weight: 500;
    font-family: $font-family-sans-serif;
    @include transition(400ms);
  }

  .desc {
    margin-bottom:2rem;
    color:#333;

    p {
      font-size:17px;

      a:link {
        text-decoration:underline;

        &:hover {
          text-decoration:none;
        }
      }
    }
  }

  .more-link {
    color:#000;
    font-weight:700;
    display:inline-block;
    padding-top:2rem;
    letter-spacing:1px;

    .fa {
      position:relative;
      top:1px;
      left:0;
      right:auto;
      transition:all 400ms ease;
    }
    &:hover {
      color:$brand-primary;
      .fa {
        left: 2px;
      }
    }
  }

  .comments-count {
    color:#000;
  }

  .wrap-meta {
    margin-bottom:2rem;
    color:#666;
    font-size:12px;

    .meta {
      color:#000;
    }
  }

  &:hover {
    .title {
      color:$brand-primary;
    }
  }

  .meta-post {
    padding-top:2rem;

    .fa {
      color:#666;
    }

    .comments-count {
      float: right;
    }
    .share-buttons {
      float: left;
    }
  }
}

.paging-content {
  padding-bottom:4rem;
  margin-bottom:4rem;

  .paging-row  {
    padding-right:80px;
  }
}

/*  Pagination
--------------------------------------------------------*/
.nav-previous {
  text-align:center;

  .css-loader {
    border-top: 0.3em solid rgba(251, 251, 251, 0.4);
    border-right: 0.3em solid rgba(251, 251, 251, 0.4);
    border-bottom: 0.3em solid rgba(251, 251, 251, 0.4);

    border-left: 0.3em solid #FFF;
    position:absolute;
    right:5px;
    top:8px;

    opacity:0;
  }

  .css-loader,
  .css-loader:after {
    width: 2em;
    height: 2em;
  }

  a {
    @extend .taken-btn;

    &.active {
      .css-loader {
        opacity:1;
      }
    }
  }
}


/*  Categories nav
--------------------------------------------------------*/
.wrap-cat-nav {
  margin-bottom:6rem;
}

.categories-nav{
  @extend .clearfix;

  padding:1rem 0;

  ul {
    padding:0;
    margin:0;

    li {
      float:left;
      list-style:none;

      a {
        font-size:12px;
        line-height:1.1;
        font-family:$oswald;
        font-weight:700;
        color:#333;
        text-transform:uppercase;
        padding:0 8px;
        position:relative;
        @include transition(600ms);

        &:after {
          content:"/";
          display:inline-block;
          color:#CCC;
          font-size:15px;
          font-weight:400;
          position:absolute;
          right:-4px;
          top:2px;
          opacity:.9;
        }

        &:hover {
          color:$brand-primary;
        }
      }

      &.active {
        a {
          color:$brand-primary;
        }
      }

      &:last-child {
        a {
          &:after {
            display:none;
          }
        }
      }

      &:first-child {
        a {
          padding-left:0;
        }
      }
    }
  }
}

/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-md) {
  .paging-content .paging-row {
    padding:0;
  }

  .wrap-cat-nav {
    margin-bottom:3rem;
  }
}

/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-md) {
  .title-secondary .title {
    font-size:24px;
  }

  .categories-nav ul li a {
    padding:0 5px;
    font-size:14px;
  }
}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {

  .wrap-cat-nav {
    margin-bottom:2rem;
  }

  .title-secondary .title {
    font-size:20px;
    letter-spacing:0;
  }


  .categories-nav ul li a {
    font-size:12px;
    padding:0 4px;
    letter-spacing:0;

    &:after {
      font-size:13px;
      right:-3px;
    }
  }

  .news-post {
     .wrap-meta {
        margin-bottom:0;
     }

    .title {
      font-size:18px;
    }

    .desc {
      p {
        font-size:15px;
      }
    }

    .wrap-entry-post {
      padding-bottom: 0;
    }
  }

  .paging-content {
    margin-bottom: 0;
    padding-bottom: 0;
  }

}
