/*  Post img header
-------------------------------------------------------------------------*/
.post-img-header {
  height:45vh;
  display:block;
  background-blend-mode: multiply;
  background-color:rgba(0,0,0,0.52);
  background-position:50% 35%;
}

.post-header {
  background-color:#ddd;
  padding:40px 0 100px;
}

.post-header-internal {
  background-color:transparent;
  color:#FFF;
  margin-bottom:1.5rem;

  time {
    font-size:12px;
    display:inline-block;
  }
}

.entry-title {
  font-size:3.4vw;
}

.wrap-entry {
  position:relative;
  top:-140px;
}


/*  videos
-------------------------------------------------------------------------*/
.video-container,
.entry-content-asset {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

  iframe,
  video {
    position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

/*  Prev Next
-------------------------------------------------------------------------*/
.prev-next {
  padding-top:2rem;

  .nav-img {
    height:110px;
    width:140px;
    display:block;
    position:relative;
    overflow:hidden;
    border:4px solid #eee;
    -webkit-border-radius:3px;
    border-radius:3px;

    span {
      color:#FFF;
      display:inline-block;
      padding:2px 4px;
      color:#000;
      font-size:14px;
      font-weight:700;
      background-color:rgba(0,0,0,.6);
      color:#FFF;
      opacity:1;
      letter-spacing:1px;

      @include transition(400ms);
    }

    .post-title {
      position:absolute;
      top:auto;
      bottom:0;
      font-size:11px;
      line-height:1.2;
      left:0;
      bottom:-100px;
      padding:6px;
      background-color:rgba(0,0,0,.6);
      color:#FFF;
      width:100%;

      @include transition(400ms);
    }

    &:hover {
      span {
        opacity:0;
      }

      .post-title {
        bottom:0;
      }
    }
  }

  .prev {
    float:left;
  }

  .next {
    float:right;
  }
}


/*  Wrap Meta
-------------------------------------------------------------------------*/
.wrap-meta {
  margin-bottom:2rem;
  padding-bottom:1rem;
  border-bottom:1px solid #eee;

  .post-back {
    a {
      color:#333;
      font-size:15px;
    }
  }
}

.cat-nav {

  .title {
    font-size:15px;
    margin-right:2px;
    color:#333;
    font-weight:500;
  }

  .cat {
    margin-right:8px;
    color:#333;

    &:hover {
      color:$brand-primary;
    }

    &:after {
      content:"/";
      display:inline-block;
      position:relative;
      right:-4px;
    }

    &:last-of-type {
      margin-right:0;

      &:after {
        display:none;
      }
    }
  }
}



/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {

  .cat-nav .title,
  .wrap-meta .post-back a {
    font-size:13px;
  }

  .cat-nav .cat {
    font-size:12px;
  }

  .single {
    .post {
      &.col-lg-10 {
        padding-left:6px;
        padding-right:6px;
      }
    }
  }

  .prev-next {
    .nav-img {
      width:120px;
      height:90px;

      span {
        font-size:12px;
      }

      .post-title {
        bottom:0;
        padding:3px;
      }
    }
  }

  .share-buttons {
    margin-bottom:2rem;
  }

  .entry-content {
    padding:8px;
  }

  #comments {
    h2 {
      font-size:16px;
    }
  }

  .post-img-header {
    height: 35vh;
  }


  .wrap-entry {
    position:relative;
    top:-80px;
  }

  .single-post {
    .entry-title {
      font-size:24px;
    }
  }
}
