
.page-main-header {
  height:15vh;
  margin-bottom:6rem;
  border-bottom:2px solid #ddd;

  h1 {
    top:6rem;
    position:relative;
    left:6rem;
    font-size:28px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:4px;
    color:#FFF;
    position:relative;
    display:inline-block;

    &:after {
      position:absolute;
      content:"";
      left:0;
      bottom:-8px;
      height:4px;
      background-color:white;
      width:30%;
    }
  }
}
