body {
  &.filter-items-4 {
    .filters-search-menu {
      .menu-item {
        width: 23%;
      }
    }
  }

  &.filter-items-5 {
    .filters-search-menu {
      .menu-item {
        width: 18%;
      }
    }
  }
}

/*  Product filters wrapper
-------------------------------------------------------------*/
.product-filters-wrapper {

  #toggle-mobile-menu,
  #search-filters-menu {
    display:none;
  }

  &.activate {
    #toggle-mobile-menu,
    #search-filters-menu {
      display:block;
    }
  }
  .page-title {
    font-weight:700;
    margin-bottom:6rem;
  }
}



/*  Default products element
-------------------------------------------------------------*/
.default-products {
  .main-title {
    font-weight:700;
    text-transform:uppercase;
    margin:0 0 6rem;
  }
}


/*  Terms menu
-------------------------------------------------------------*/
.params-menu {
  padding:0 0 1rem;
  margin-bottom:2rem;
}

.found-results {
  font-size:16px;
  font-weight:600;
}

.clear-all {
  margin:0 4px;
  font-size:12px;
  display:inline-block;

  a {
    color:#999;
  }
}

.term-param {
  margin:4px;
  padding:0.5rem 1rem;
  background-color:#f1f1f1;
  border:1px solid #CCC;
  font-size:13px;
  display:inline-block;

  -webkit-border-radius:3px;
  border-radius:3px;
}


/*  Product filters menu styles
-------------------------------------------------------------*/
.filters-search-menu {

  .inner {
    margin:0 0 4rem;
    position:relative;

    form {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  .menu-item {
    float:left;
    margin-right:1%;
    width: 32%;

    &:last-of-type {
      margin-right:0;
    }

    option {
      text-transform: uppercase;
    }

    .view-all {
      text-transform:none;
    }

    .title {
      margin-bottom:1rem;
      text-transform:uppercase;
      font-weight:700;
    }

    .wrap-select {
      position:relative;

      &:after {
        content:" ";
        position:absolute;
        right:12px;
        top:12px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #000;
        display: none !important;
      }
    }

    .tag-filter-item {
      -moz-appearance:none;
      -webkit-appearance:none;

      -webkit-border-radius:0;
      border-radius:0;

      border:1px solid #d7d7d7;
      background-color:#fff;
      position:relative;
      padding:0 1rem;
      width:100%;
      height:35px;
      display:block;
    }

    select {
      @include taken_select();

      option {
        background-color:#FFF;
        padding:1rem 2rem;
        width:100%;
      }
    }
  }
}

/*  Product filters button
-------------------------------------------------------------*/
#filtering-init {
  font-weight:700;
  position:absolute;
  right:15px;
  bottom:30px;
  padding: 7px 27px;
  @include transition(200ms);

  &:hover {
    text-decoration:none;
  }
}

/*  Product filters results
-------------------------------------------------------------*/
#tag-filter-results {
  min-height:400px;
  position:relative;
  padding-bottom:6rem;

  .wrap-loader {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-color:rgba(0,0,0,0.1);
    z-index: -1;
    opacity:0;
    @include transition(200ms);

    .css-loader {
      position:absolute;
      top:50%;
      left:50%;
      margin:-2em 0 0 -2.5em;
    }
  }

  &.active {
    .wrap-loader {
      z-index: 3;
      opacity: 1;
    }
  }
}


/*  @media
-----------------------------------------------------------------------*/
@media (max-width: $screen-sm){
  .filters-search-menu .menu-item .view-all .filter-text {
    display:none;
  }
}



/*  @media
-----------------------------------------------------------------------*/
@media (max-width: $screen-sm){

  .found-results {
    display:block;
    margin-bottom:10px;
  }

  .term-param {
    font-size:12px;
    padding:0.5rem;
  }


  .filters-search-menu {

    #filtering-init {
      bottom:15px;
      padding: 6px 20px;
    }

    .inner {
      padding:1rem 0 1rem;
      margin-bottom: 2rem;
    }

    .menu-item {

      .view-all {
        font-size:10px;
      }

      .title {
        margin-bottom:1px;
        font-size: 14px;
      }

      .tag-filter-item {
        height:30px;

        select {
          option {
            font-size:14px;
          }
        }
      }
    }
  }

  #tag-filter-results {
    padding-bottom:0;
  }

}//Close @media

@media (max-width: $screen-xs){

  .filters-search-menu {
    .menu-item {
      select {
        option {
          padding: 0.8rem;
        }
      }

      .wrap-select {
        &::after {
          display: none;
        }
      }
    }
  }

}
