

/*  Sidebar
--------------------------------------------------------*/
#sidebar {
  .container-fluid { padding:0; }
  .youtube-feed {
    margin-bottom:4rem;
    background-color:transparent;
    padding:40px 0 0 0;
    box-shadow:none;

    .slide-item {
      width:50%;

    }

    .video-wrap {
      height: 145px;

      .hover {
        .details .desc { font-size:12px; }
        .wrap-title h5 { font-size:12px; }
      }
    }
  }

  .widget {
    margin-bottom:4rem;

    a {
      color:#000;

      &:hover {
        color:$brand-primary;
      }
    }

    h2 {
      font-size:22px;
      margin-bottom:1rem;
    }
  }


}

/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-md) {
  #sidebar {
    margin-top:6rem;

    .youtube-feed {
      border-top:2px solid #ddd;
    }

    .widget {
     display:none;
   }
  }
}
