
.social-media-icons {
  position:relative;
  top:0;
  left:0;
  bottom:auto;
  right:auto;

  @include transition(600ms);

  ul {
    margin:0;
    padding:0;

    li {
      float:left;
      list-style:none;
      margin:0 1rem;

      .fa {
        font-size:22px;

        @include transition(200ms);
        @include scale(1);
      }

      a {
        color:#FFF;

        &:hover {
          .fa {
            @include scale(1.2);
          }
        }
      }

    }
  }
}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {

  #main-header {
    .social-media-icons {
      ul {
        li {
          margin:0 0.3rem;
        }
      }
    }
  }

  .social-media-icons {
    ul {
      li {
        .fa {
          font-size:17px;
        }
      }
    }
  }

}
