.youtube-feed {
  background-color:#FFF;
  padding:4rem 4rem 6rem;
  box-shadow:0 -5px 11px #999 inset;

  header {
    margin-bottom:2rem;
  }

  .slide-item {
    padding:0 !important;
  }

  .video-wrap {
    height:25vh;
    padding:0;
    display:block;
    position:relative;
    border-bottom:2px solid #FFF;
    border-right:2px solid #FFF;

    &:nth-child(4),
    &:nth-child(8){
      border-right:none;
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8){
      border-bottom:none;
    }

    .hover {
      position:absolute;
      top:0;
      height:100%;
      min-height:100%;
      left:0;
      width:100%;
      color:#FFF;
      overflow:hidden;

      .play-icon {
        position:absolute;
        top:50%;
        left:50%;
        height:50px;
        width:70px;
        display:block;
        margin-top:-25px;
        margin-left:-35px;
        opacity:0.8;
        background-position:center center;
        background-size:45px auto;
        background-repeat:no-repeat;
        background-image:url('../images/youtube-icon.png');
      }

      .wrap-title {
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        padding:4px 15px;
        opacity:1;
        background-color:rgba(0,0,0,0.6);

        @include transition(400ms);

        h5 {
          color:#FFF;
          font-size:15px;
          display:block;
          margin:0;
          text-overflow:ellipsis;
          white-space:nowrap;
          overflow:hidden;
          padding:3px 0 4px;
        }
      }

      .details {
        text-align:center;
        opacity:0;
        position:absolute;
        height:100%;
        min-height:100%;
        left:0;
        top:0;
        bottom:0;
        width:100%;
        background-color:rgba($brand-primary,0.7);
        padding:1rem;

        @include transition(400ms);

        .desc {
          color:#FFF;
          font-size:14px;
          line-height:1.2;
        }
      }
    }

    &:hover {
      .hover {
        background-color:rgba(0,0,0,0.1);

        .wrap-title {
          opacity:0;

          &.no-desc {
            opacity:1 !important;
          }
        }

        .details {
          opacity:1;
        }
      }
    }
  }
}
