body {
  background-color:#f4f4f4;
  background-image:url('../images/logo-taken-body.png');
  background-position:transparent;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: center 25%;
  font-size: 15px;

  @media (max-width: $screen-md) {
    font-size: 14px;
  }

  &.home {
    background-position:center center;
  }
}

body {
  .rbt-greek {
    font-family: $greek !important;
  }
}

.main-content {
  padding-top:14rem;
  min-height: 100vh;
}

.search-results,
.single-post {
  .main-content {
    padding-top:60px;
  }
}

.search-results {

  .main-content {
    padding-bottom:4rem;
  }

  .product,
  .post {
    .entry-title {
      font-size:24px;
      color:#000;
    }
    padding-bottom:3rem;
    margin-bottom:3rem;
    border-bottom:1px solid #CCC;
  }
}

/* Select-text styles */
::-moz-selection{ background-color:#000; color: #FFF; text-shadow: none;}
::selection	 { background-color:#000; color: #FFF; text-shadow: none;}
ins			 { background-color:#000; color: #FFF; text-decoration: none;}
mark			 { background-color:#000; color: #FFF; font-style: normal; font-weight: normal;}
a:link			 { -webkit-tap-highlight-color:#000;}

a,
a:hover,
a:active,
a:focus {
	-webkit-transition:color 200ms ease;
	-moz-transition:color 200ms ease;
	-o-transition:color 200ms ease;
	transition:color 200ms ease;
}

a {
	text-decoration:none;
	cursor: pointer;
  outline:none;
}

body a:link,
body a:hover,
body a:focus,
body a:active { outline: none !important; text-decoration:none !important; }

ul,
ol {
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
  font-family: $oswald;
}


/*  Spinner - Loader
--------------------------------------------------------*/
.css-loader {
  margin-left:auto;
  margin-right:auto;
  font-size: 10px;
  text-indent: -9999em;

  border-top: 0.5em solid rgba(198, 31, 77, 0.4);
  border-right: 0.5em solid rgba(198, 31, 77, 0.4);
  border-bottom: 0.5em solid rgba(198, 31, 77, 0.4);

  border-left: 0.5em solid $brand-primary;
  transform: translateZ(0);
  animation: cssSpinner 1.1s infinite linear;
}

.css-loader,
.css-loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

@keyframes cssSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-lg) {
  .search-results,
  .single-post {
    .main-content {
      padding-top:40px;
    }
  }

  .main-content {
    padding-top:8rem;
  }

}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {
  .main-content {
    padding-top:7rem;
  }
}
