
/*  Usefull Shortcodes
------------------------------------------------------------*/

.hide-post-header, .hide-pre-header, .hide-footer-menu {
  display: none;
}

.show-post-header, .show-pre-header, .show-footer-menu {
  display: static;
}

.scrolloff {
  pointer-events: none;
}

.off{
	display: none;
}
.wrap.sticky-template{
	margin-top: 0;
}

a:hover{
  //text-align: inherit!important;
}
.mobile-only {
  display: none;

}
.desktop-only {
  display: block;
}
@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

/*  Backgrounds
------------------------------------------------------------*/
.bg-cover {
  -webkit-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
}

.bg-contain {
  -webkit-background-size: contain;
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center center;
}

.bg-fixed {
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-position: center center;
}

/* Reset for mobile */
@media (max-width: 767px) {
  .bg-fixed {
    background-attachment: inherit;
  }
}


/*  Random
------------------------------------------------------------*/
/*CLEARFIX*/
.clear {
  zoom:1;

  &:before,
  &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }
}

/*Align center*/
.tc{
  text-align:center;

  img {
    display: inline;
  }
}

/*Centered list*/
.cul {
  width:100%;
  position:relative;

  ul {
    clear:left;
    float:left;
    position:relative;
    left:50%;
    text-align:center;
    list-style:none;
    margin:0;
    padding:0;

    li {
      display:block;
      float:left;
      position:relative;
      right:50%;
    }
  }
}

/* Center element */
.mauto{
  margin-left:auto;
  margin-right:auto;
}

.left {
  float:left;
}

.right {
  float:right;
}

/* Unselect */
.unselectable{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Vertical center */
.vcenter-outer {
    display: table;
    height: 100%;
    width: 100%;

    .vcenter-inner {
        display: table-cell;
        vertical-align: middle;
    }
}

/*Reset styles for forms*/
.webkit-styles-reset {
  -webkit-appearance:none;
  -webkit-border-radius:0;
}

/* Flexible img */
.flexible-img {
  img {
    max-width: 100%;
    height: auto;
  }
}
