// Glyphicons font path
$icon-font-path:        "../fonts/";

//
// Bootstrap Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 ;
$gray-darker:            lighten($gray-base, 13.5%) ; // #222
$gray-dark:              lighten($gray-base, 20%) ;   // #333
$gray:                   lighten($gray-base, 33.5%) ; // #555
$gray-light:             lighten($gray-base, 46.7%) ; // #777
$gray-lighter:           #f2f2f2 ; //

$brand-primary:         #d22027 ;
$brand-secondary:       #e4c61f ;
$brand-success:         #2eb16f ;
$brand-info:            #5bc0de ;
$brand-warning:         #f0ad4e ;
$brand-danger:          #c61f4d ;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff ;
//** Global text color on `<body>`.
$text-color:            $gray-dark ;

//** Global textual link color.
$link-color:            $brand-primary ;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) ;
//** Link hover decoration.
$link-hover-decoration: underline ;


//== Typography
$font-family-fjalla: "Arial", sans-serif;/*delete*/
$oswald:              "Oswald";
$greek: "Roboto Condensed";


//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif ;
$font-family-serif:       Georgia, "Times New Roman", Times, serif ;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace ;
$font-family-base:        $font-family-sans-serif ;

$font-size-base:          14px ;
$font-size-large:         ceil(($font-size-base * 1.25)) ; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) ; // ~12px

$font-size-h1:            floor(($font-size-base * 2.285714)) ; // ~32px
$font-size-h2:            floor(($font-size-base * 2.15)) ; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.25)) ; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) ; // ~18px
$font-size-h5:            $font-size-base ;
$font-size-h6:            ceil(($font-size-base * 0.85)) ; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 ; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) ; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit ;
$headings-font-weight:    500 ;
$headings-line-height:    1.1 ;
$headings-color:          inherit ;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px ;
$padding-base-horizontal:   12px ;

$padding-large-vertical:    10px ;
$padding-large-horizontal:  16px ;

$padding-small-vertical:    5px ;
$padding-small-horizontal:  10px ;

$padding-xs-vertical:       1px ;
$padding-xs-horizontal:     5px ;

$line-height-large:         1.3333333 ; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 ;

$border-radius-base:        4px ;
$border-radius-large:       6px ;
$border-radius-small:       3px ;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff ;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary ;
