body {
  .woocommerce-MyAccount-content {
    .woocommerce-message {
      .button {
        position: relative;
        top: 0;
        bottom: 0;
        @extend .taken-btn;
      }
    }
  }
}


#customer_login {
  h2 {
    @include taken_title(20px);
  }
}

.woocommerce-MyAccount-content {
  .woocommerce-info {
    position: relative;

    .woocommerce-Button {
      position: absolute;
      top: 25px;
      right: 15px;
      cursor: pointer;
    }
  }
}

.woocommerce mark {
  background-color: transparent;
  color: #000;
}

.woocommerce-account .page-wrapper {
  padding-bottom: 60px;
}

.woocommerce-Address-title {
  h3 {
    @include taken_title(20px);
  }
}

.woocommerce table.my_account_orders .button {
  border: none !important;
}


/* Nav
------------------------------------------------------------*/
.woocommerce-MyAccount-navigation {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: block;

      &:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }

      &:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
    }

    a {
      position: relative;
      display: block;
      padding: 0.75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.125);
      font-weight: bold;
    }
  }
}


/* Grid
------------------------------------------------------------*/
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
  @media (max-width: $screen-md) {
    float: none;
    width: 100%;
  }
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  margin-bottom: 2rem;
}

body {
  &.woocommerce-account {
    .wrapper {
      padding-top: 2rem;
    }
  }
}


#customer_login .u-column1,
#customer_login .u-column2 {
  @media (max-width: $screen-sm) {
    width: 100% !important;
  }
}

//Buttons
.woocommerce table.my_account_orders .button {
  font-size: 11px;
  padding: .6em .7em;
  margin: 0 2px;
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}

/* Addresses
------------------------------------------------------------*/
.woocommerce-Addresses {
  .col-2 {
    //display: none;
  }
}


/* View order
------------------------------------------------------------*/
.woocommerce-page {
  woocommerce-column {
    padding: 0;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    max-width: 100%;
    padding: 0;
  }
}

.list-group-item {
  cursor: pointer;
  font-size: 16px;

  @media (max-width: $screen-md) {
    padding: 0.5rem 1rem
  }
}


.woocommerce-EditAccountForm {
  fieldset {
    margin: 2rem 0;
    padding: 2rem;
    background-color: #F1F1F1;
    border: 1px solid #ddd;
    border-radius: 4px;

    legend {
      //display: none;
    }
  }
}

.woocommerce-MyAccount-content p a {
  font-weight: bold;
}

.woocommerce-table--order-details .shipped_via{
  //display: none;
}

.woocommerce .woocommerce-customer-details address {
  background-color: #F1F1F1;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tbody th {
  font-size: 16px;
}

/* Account
------------------------------------------------------------*/
.woocommerce-privacy-policy-text p,
.woocommerce-form-login__rememberme span,
.woocommerce-LostPassword {
  font-size: 12px;
}

.woocommerce-form woocommerce-form-login {
  .btn {
    margin: 0 0 1rem;
    display: block;
  }
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
  display: block;
}

.woocommerce-account {
  .entry-title {
    //display: none;
  }
}



/* Account menu
------------------------------------------------------------*/
.list-group-item {
  font-weight: bold;
  transition: all 360ms ease;
  background-color: rgba(#F1F1F1,0);

  &:hover {
    background-color: rgba(#F1F1F1,.9);
  }
}

.list-group-item-action:hover,
.list-group-item-action:focus {
  border: 1px solid rgba(0,0,0,0.125);
}


/* Order item
------------------------------------------------------------*/
.woocommerce-account {
  table.shop_table {
    .wc-item-meta {
      margin: 0;
      padding-left: 0;
      font-size: 14px;
    }
  }
}

.woocommerce-account {
  .woocommerce {
    table.shop_table {

      td.product-name {
        width: 75%;
      }
    }
  }
}
