.taken-cart-msg {
  margin-bottom: 2rem;
  padding: 1rem 2px;
}

body {
  .woocommerce-billing-fields h3,
  #order_review_heading,
  #place_order,
  #mini-cart .button,
  #mini-cart .cart-title,
  .cart_totals  h2,
  .shop_table .button,
  .checkout-button,
  .woocommerce-shipping-fields .woocommerce-form__label-for-checkbox,
  .single_add_to_cart_button,
  .return-to-shop .button {
    font-family: $greek !important;
  }

  &.page-id-5385 {
    h1 {
      font-family: $greek !important;
    }
  }
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 100px;
  height: auto;
}

.woocommerce-cart-form {
  margin-bottom: 3rem;
}

.woocommerce-cart {

  table.cart {
    thead,
    .actions {
      background-color: rgba(#FFF,.6);
    }

    .cart_item {
      background-color: rgba(#FFF,.5);
    }

    .product-name {
      a {
        font-family: $oswald;
        font-size: 18px;

        @media (max-width: $screen-md) {
          font-size: 15px;
        }
      }
    }
  }
}

.shop_table {
  background-color: rgba(#FFF,.6);
}

.cart_totals {
  margin-bottom: 3rem;
}
