.cart_totals {
  h2 {
    @include taken_title(26px);
  }
}

.woocommerce-billing-fields{
  h3 {
    @include taken_title(22px);
  }
}

#order_review_heading {
  @include taken_title(22px);
}

.woocommerce-checkout-review-order,
#customer_details .col-1{
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

#customer_details .col-2 {
  padding-top: 60px;
}

#ship-to-different-address {
  margin-left: 21px;
}

#shipping_country_field .woocommerce-input-wrapper,
#billing_country_field .woocommerce-input-wrapper {
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #CCC;
  padding: 6px 20px;
}

#order_review {
  .cart_item {
    background-color: rgba(#FFF,.8);

    .product-name {
      color: $brand-primary;
      font-weight: bold;
    }
  }
}

.woocommerce-terms-and-conditions-checkbox-text {
  padding-left: 20px;

  a {
    color: #000;
    text-decoration: underline !important;
  }
}

#terms {
  top: 2px;
}


.woocommerce-privacy-policy-text {
  a {
    color: #000;
    text-decoration: underline !important;
  }
}

.woocommerce-terms-and-conditions-link {
  color: #000;
  text-decoration: underline !important;
}


.taken-thank-you {
  margin-bottom: 4rem;
  padding-bottom: 3rem;
}


.wc-bacs-bank-details-heading,
.woocommerce-order-details__title,
.woocommerce-column__title {
  @include taken_title(20px);
}

.woocommerce-table--order-details {
  .woocommerce-table__product-name {
    a {
      font-weight: bold;
    }
  }
}


.woocommerce-columns--addresses {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
