/*  Mini Cart - Layout
-------------------------------------------------------*/
.mini-cart {
  display: block;
  position: fixed;
  top: 0;
  right:0;
  bottom: auto;
  left: auto;
  height: 100%;
  z-index: 999;
  min-height: 100%;
  background-color: #f4f4f4;
  transition: all 1s ease;
  width: 100%;
  transform: translateX(200%);
  width: 40%;
  background-image: url(../images/logo-taken-body.png);
  background-repeat: no-repeat;
  background-size: 340px auto;
  background-position: 50% 100%;
  box-shadow: 0 1px 3px rgba(#000,.3);

  @media (max-width: $screen-md) {
    width: 47%;
  }

  @media (max-width: $screen-sm) {
    width: 68%;
  }


  @media (max-width: $screen-xs) {
    width: 100%;
  }

  &.menu-open {
    transition: all 600ms ease;
    transform: translateX(0) !important;
  }
}


/* Shop now
---------------------------------------------------------------*/
.cart-shop-now {
  position: absolute;
  bottom: 1.2rem;
  width: 100%;
}


/* Mini Cart -  Close button
---------------------------------------------------------------*/
.cart-nav-btn {
  position: absolute;
  right: 25px;
  top: 15px;
  z-index: 10;

  .line {
    background-color: #000;
  }
}


/*  Mini Cart - Header
-------------------------------------------------------*/
.cart-header {
  border-bottom: 2px solid #FFF;
  text-align: center;
  margin-bottom: 1rem;
  height: 60px;
  display: flex;
  align-items: center;

  @media (max-width: $screen-md) {
    height: 78px;
  }

  @media (max-width: $screen-sm) {
    height: 70px;
  }

  .cart-title {
    margin: 0;
    color: #000;
    width: 100%;
    padding-top: 10px;
  }
}

#ajax-mini-cart-data {
  position: relative;
  transition: all 400ms ease;
  overflow: auto;
  min-height:100%;
  height: 100%;

  .mini-cart-content {
    padding: 0 0 80px;
    min-height: 100%;
  }
}

#mini-cart {
  .total {
    padding: 2rem 2rem;
    border-bottom: 8px solid #FFF;
    border-top: 6px solid #FFF;
    text-align: center;

    .label {
      text-transform: uppercase;
    }

    .label,
    .amount {
      font-size: 20px;
      font-weight: 900;
      color: #000;
    }
  }
}



/*  Mini Cart - Grid
-------------------------------------------------------*/
#mini-cart {
  .cart_list product_list_widget {
    margin: 0;
    padding: 0;
  }

  ul.woocommerce-mini-cart {
    margin: 0;
    padding: 0 0 1rem;
    border-bottom: 2px solid #FFF;
  }

  .mini_cart_item {
    position: relative;
    border-left: none;
    border-right: none;
    list-style-type: none;
    padding: 5px 0;
    display: block;

    a {
      &:hover {
        text-decoration: none !important;
        color: inherit;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    .cart-item-wrap {
      padding: 8px 12px;
      display: flex;
      align-items: center;

      @media (max-width: $screen-md) {
        padding: 8px;
      }

      .col-left {
        width: 16%;
        margin-right: 2%;

        @media (max-width: $screen-md) {
          width: 18%;
        }

        img {
          float: none;
          width: 70px;
          height: auto;
          display: block;
          transform: scale(1);
          transition: all 400ms ease;

          @media (max-width: $screen-md) {
            width: 56px;
            height: 66px;
            margin: 0;
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .col-right {
        width: 56%;

        a {
          color: #000;
        }

        @media (max-width: $screen-md) {
          width: 64%;
        }
      }

      .col-qty {
        width: 16%;
        text-align: center;

        @media (max-width: $screen-md) {
          width: 12%;
        }

        span {
          font-size: 12px;
          margin: 0;
          position: relative;
          bottom: 1px;
          font-weight: bold;
        }
      }

      .col-delete {
        text-align: center;
      }
    }
  }
}


/*  Mini Cart - title, variations
-------------------------------------------------------*/
#mini-cart {

  .title {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 700;
    margin: 0 0 .5rem;
    display: block;
    padding-right: 10px;

    @media (max-width: $screen-sm) {
      font-size: 14px;
    }
  }

  .remove_from_cart_button {
    font-size: 22px;
    transform: translateY(0);
    transition: all 400ms ease;

    &:hover {
      transform: translateY(-1px);
      text-decoration: none;
    }
  }

  dl {
    border: none;
    padding: 0;
    margin: 0 0 2px;
    border-radius: 0;
    display: block;
    line-height: 1.2;
    font-size: 12px;

    p {
      margin: 0 !important;
    }

    dt {
      padding: 0;
      font-weight: 300;
      float: left;
      margin-right: 5px;
    }

    dd {
      padding: 0;
      margin: 0 !important;
      font-weight: 600;

      p {
        font-weight: 600;
        font-size: 12px;
        margin: 0;
        display: inline;
      }
    }
  }
}


/*  Mini Cart - Tree layout - comment
-------------------------------------------------------*/
.tree-data-wrap {
  margin-bottom: .5rem;
  line-height: 1.2;

  .tree-item {
    padding: 0 1px;
    margin: 0 2px;
    font-size: 11px;

    &::after {
      content: "›";
      left: 2px;
      position: relative;
      font-size: 14px;
      top: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 2px;
      &::after {
        display: none;
      }
    }
  }
}


/*  Mini Cart tree
-------------------------------------------------------*/
#mini-cart {
  .tree-data-wrap {
    margin-bottom: .5rem;

    .tree-item {
      font-weight: normal;
      font-size: 14px;
    }
  }
}



/*  Mini Cart - Review order - Total
-------------------------------------------------------*/
#mini-cart {
  .cart-review-order {
    padding: 1.4rem 0;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;

    .button {
      color: #FFF;
      margin: 2rem auto;
      width: 70%;

      @extend .taken-btn;
    }
  }

  &.updated {
    .total {
      animation: cartupdated 1s ease 1 both .8s;
    }
  }
}


//animation for ajax
@keyframes cartupdated {
  0%, 20%, 50%, 80%, 100% { transform:translateY(0); }
	40% { transform:translateY(-30px); }
	60% { transform:translateY(-15px); }
}



/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-md) {

}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-sm) {

}


/*****  Mini Cart - EMPTY
-------------------------------------------------------*/
#mini-cart {
  .empty {
    min-height: 280px;
    padding: 1rem 2rem;
    border-bottom: 2px solid #FFF;
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .empty-cart-msg {
    padding: 15px 3rem;
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: bold;

    h5 {
      line-height: 1.4;
    }

    .btn {
      background-color: #000;
      color: #FFF;
    }
  }
}


/*  Mini Cart - top notifications
-------------------------------------------------------*/
#cart-notifications {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: auto;
  width: 100%;
  height: auto;
  padding: 5px 10px 0;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  display: none;
  z-index: 96;
}

/*  Mini Cart - loader
-------------------------------------------------------*/
#cart-loader {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  min-height:100%;
  background-color:rgba(251,251,251,.95);
  z-index: -1;
  opacity: 0;
  transition: all 300ms ease;
  display: block;

  &.active {
    opacity: 1;
    z-index: 9999;
  }

  .wrap-loader {
    width: 120px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    margin: -80px 0 0 -60px;
    text-align: center;
    background-image: url('../images/taken-logo-header.png');
    background-position: 50% 0;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 42px;
  }

  .wrap-text {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 0;
    left: -2px;
  }
}
