.single-product {

  .woocommerce-notices-wrapper {
    @extend .container;
  }

  .page-wrapper {


    .container,
    .woocommerce-breadcrumb {
    }

    .alert-success,
    .woocommerce-message {
      background-color: #f1f1f1 !important;
      border-color: #ccc !important;
      color: #000 !important;
      padding-bottom: 10px !important;
    }
  }
}
