/* DEFAULT - page header
--------------------------------------------------------------*/
.default-header {
  height: 40vh;
  text-align: center;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
  background-size: cover;
  box-shadow: 0 1px 4px rgba(#000,.6);

  .logo-white {
    position: absolute;
    right: 1%;
    bottom: 4%;
    width: 140px;
    height: 60px;
    opacity: .7;
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/logo-white.png');
  }

  @media (max-width: $screen-lg) {
    height: 30vh;
  }

  &.shot-1 { background-image: url('../images/shot1.jpg'); }
  &.shot-2 { background-image: url('../images/shot2.jpg'); }
  &.shot-3 { background-image: url('../images/shot3.jpg'); }
  &.shot-4 { background-image: url('../images/shot4.jpg'); }
  &.shot-5 { background-image: url('../images/shot5.jpg'); }

  .wrapper {
    position: relative;
    z-index: 2;
    height: 40vh;
    background: transparent url('../images/bg-repear-1.png') 50% 50% repeat;
    padding: 5rem 0 6rem;

    @media (max-width: $screen-lg) {
      padding: 0;
      height: 30vh;
    }
  }

/*
  &:after {
    content: "";
    position: absolute;
    left:0;
    top:0;
    width:100%;
    min-height: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    background: transparent url('../images/header-img.png') 50% 50% / cover no-repeat;
    opacity: .8;
  }*/

  .page-title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 1px;
    color: $gray-light;
    padding-top: 22%;
    position: absolute;
    top: auto;
    width: 100%;
    bottom: 15%;
    left: 0;
    z-index: 2;
  }
}
