body {
  &.touched-bottom {
    .wrap-products-cat-nav {
      top: 0 !important;
      position: relative !important;
    }
  }
}

/*  Catagory nav
---------------------------------------------------*/
div[role="sidebar-categories"] {
  position: relative;
}

#companies-slideshow {
  z-index: 5;
}

#main-footer {
  z-index: 5;
}

.wrap-products-cat-nav {
  width: 260px;
  background-color:transparent;
  //border-radius:5px;
  //padding: 1rem;
  //box-shadow:0 1px 3px #CCC;
  margin-top: 21px;
  margin-bottom:2rem;
  z-index: 4;
  transition: all 400ms ease;
  bottom: auto;

  h3,
  h2 {
    font-family:$oswald;
    font-size:18px;
    font-weight:600;
    margin-left:1px;
    margin-bottom:1rem;

    @include taken_title(18px);
  }
}

.toggle-title {
  padding:1rem;
  background-color:rgba(0,0,0,.8);
  font-weight:500;
  font-size:14px;
  cursor:pointer;
  color:#FFF;
  font-family:$oswald;
  text-transform:uppercase;
  letter-spacing:1px;
}

#products-cat-nav {

  .sub-menu {
    display:none;
  }

  ul {
    padding:0;
    margin:0;

    li {
      position:relative;
      display:block;
      float:none;
      list-style:none;

      a {
        cursor: pointer;
        background-color:rgba(0,0,0,.8);
        color:#FFF;
        display: block;
        padding: 4px 8px;
        border-bottom:1px solid #FFF;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: all 600ms ease;
      }

      &.active,
      &:hover {
        a {
          background-color:rgba(0,0,0,.9);
          padding-left:12px;
        }
      }

      &.active {
        a {
          padding-left:12px;
          background-color:rgba($brand-primary,.9);
        }
      }

      .sub-menu {
        li {
          a {
            background-color:rgba(0,0,0,.8);
            padding: 1px 20px 1px;
            font-size: 14px;
            text-transform: none;

            &:before {
              content:"•";
              position:relative;
              left:-4px;
              font-size:16px;
              line-height:1.1;
            }
          }

          &:hover {
            a {
              padding-left:22px;
              background-color:rgba(0,0,0,.9);
            }
          }

          &.active {
            a {
              background-color:rgba($brand-primary,.9);
            }
          }
        }
      }

      &.menu-item-has-children {

        > a {
          &:after {
            content:"+";
            position:absolute;
            right:8px;
            top:0px;
            cursor:pointer;
            font-size:21px;
            font-weight:400;
            color:#FFF;
            cursor:pointer;
            display:inline-block;
          }
        }

        &.active {

          > a {
            &:after {
              content:"–";
            }
          }

          .sub-menu {
            height:100%;
            display:block;
          }
        }
      }
    }
  }
}


/*  Category image
---------------------------------------------------*/
.cat-img {
  margin-bottom: 2rem;
  height:320px;
  width:100%;
  box-shadow:0 1px 3px #999;
  position:relative;
  margin-top:10px;
  @extend .bg-cover;
}

.term-description {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,.7);
  color:#FFF;
  padding:1rem 2rem;

  p {
    margin:0;
    font-weight:600;
    font-size:16px;
    letter-spacing:1px;
    font-family: $font-family-sans-serif;
  }
}


.product-filters-wrapper ul.products li.product {
  position:relative;
  width: 47%;
  margin-bottom: 2rem;

  .add_to_cart_button,
  .button {
    display: none;
  }

  &:nth-child(odd){
    margin-right: 4%;
  }

  .shop_attributes,
  p {
    display: none;
    height: 0;
  }
}



/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-lg) {
  .wrap-products-cat-nav {
    width: 220px;
  }
}


@media (max-width: $screen-md) {
  .wrap-products-cat-nav {
    padding:0.5rem;
    position: relative !important;
    width: 100% !important;

    h2, h3 {
     display:none;
   }
  }

  .toggle-title {
    display:block;
  }

  #products-cat-nav {
    display:none;
  }

  .product-filters-wrapper {
    .toggle-title {
      display:none !important;
    }
  }

  .woo-content {
    .title-secondary {
      margin-bottom:2rem;
    }
  }
  #toggle-mobile-menu {
    &.active {
      #products-cat-nav {
        overflow:auto;
      }
    }
  }

}

/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-sm) {

  .cat-img {
    display: none !important;
  }
}
