.woocommerce ul.products li.outofstock  {
  position: relative;

  &::after {
    content: "Out of stock";
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 15px;
    padding: 4px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(#FF0000,.8);
    display: inline-block;
    width: 120px;
  }
}

body {
  .woocommerce-store-notice,
  p.demo_store {
    background-color: #000;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.woocommerce ul.products li.outofstock .button { display: none; }

#companies-slideshow {
  background-color:rgba(251,251,251,.6);
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top:4px solid #eee;
  position: relative;

  .title-secondary {
    border-color:#eee;
  }

  .slide-item {
    height: 120px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  img {
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    height:auto;
  }
}


body.single .main-content .quantity .qty,
body.woocommerce-cart .main-content .quantity .qty {
  height: 36px;
}


body {
  .main-content {
    ul.products {
      li.product {
        .woocommerce-loop-category__title,
        .woocommerce-loop-product__title {
          font-size: 1.5em;
        }
      }
    }
  }
}

body {
  .woocommerce-breadcrumb {
    @extend .container;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 2rem !important;
    padding: 0 15px !important;
    font-weight: bold;

    a {
      font-weight: normal !important;
    }
  }
}


/*  Pagination
---------------------------------------------------*/
.woocommerce-pagination {
  a,
  span {
    transition: all 400ms ease;
  }
}

.woocommerce nav.woocommerce-pagination ul li a {
  color: #FFF !important;
  background-color: #000;

}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
  background-color: $brand-primary !important;
  color: #FFF !important;
}


/*  Product landing
---------------------------------------------------*/
#products-page {
  .item {
    min-height: 220px;
    .feat-img {
      height:150px;
      width:47%;
      float:left;
      margin:0 3% 2rem 0;
      border:4px solid #FFF;
      -webkit-border-radius:3px;
      border-radius:3px;
      box-shadow:0 1px 3px #666;
    }

    .title {
      font-family: $font-family-sans-serif;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

/*  Product list
---------------------------------------------------*/

.woocommerce {

  span.onsale {
    z-index:1;
    border:2px solid #FFF;
    line-height: 2.236;
    padding: 0.622em;
    box-shadow:0 1px 3px #999;
  }

  ul.products {
    li.product {
      h3 {
        font-family:$font-family-sans-serif;
        margin-bottom:1rem;
        font-weight:600;
        font-size:18px;
        padding:0;
      }

      a {
        color:#000;

        img {
         border:5px solid #FFF;
         -webkit-border-radius:3px;
         border-radius:3px;
         box-shadow:0 1px 3px #CCC;
         @include transition(400ms);
         @include scale(1);
       }
      }

      &:hover {
        a {
          img {
            @include scale(1.1);
          }
        }
      }
    }
  }
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin-right:0;
  padding-bottom:2rem;
  margin-bottom:2rem;
  border-bottom:1px solid rgba(#ccc,.4);
}

.woocommerce ul.products li.product:last-child,
.woocommerce-page ul.products li.product:last-child {

}

.amount {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0 30px;
  color:#000;

  del {
    opacity:0.3;
  }

  ins {

  }
}

.woocommerce .quantity .qty {
  height: 46px;
}


/*  @media
-----------------------------------------------------------------------*/
@media (max-width: $screen-md){

  .woocommerce {
    .page-wrapper {
      padding-bottom:2rem;
    }
  }

}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-sm) {
  .woocommerce span.onsale {
    left: 0;
  }
}
