.product .added_to_cart.wc-forward {
  margin-left: 6px;
  margin-top: 4px;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {

  .flex-viewport {
    margin-bottom: 6px;
  }

  .flex-control-thumbs li {
    img {
      //margin-right: 6px;
    }

    &:last-child {
      img {
        margin-right: 0;
      }
    }
  }
}

#header,
#footer {
  display: none;
}


.product_meta {
  font-weight: bold;
  margin-bottom: 1rem;

  a {
    font-weight: norma;
  }

  .sku_wrapper,
  .posted_in {
    display: none;
  }

  .tagged_as {
    display: block;
    padding: 3px 0;
    margin: 3px 0;
  }
}

.added_to_cart,
.wc-forward {
  padding-left: 3px;
  padding-top: 3px;
  font-size: 12px;
}


.alert-success,
.woocommerce .woocommerce-message {
  padding-left: 50px;
  font-weight: bold;

  .button {
    margin-button: 5px !important;
  }
}

.woocommerce.single .woocommerce-message {
  @extend .container;
  margin: 20px auto !important;

}

/*  Single Products
---------------------------------------------------*/
.single-product {

  .variations {
    margin-bottom: 2em !important;

    td {
      label {
        margin-top: 4px;
      }

      padding: 2px 0 5px;
    }

    select {
      @include taken_select();
    }
  }

  .wrap {
    margin-top: 55px;
  }

  .content-text {
    ul {
      padding-left: 15px;
      margin-bottom: 1rem;
    }
  }

  .cart {
    margin-top: 35px;
  }

  .summary {
    ul {
      margin: 0 0 2rem 1.8rem;

      li {
        margin-bottom: 5px;
      }
    }
    .amount {
      font-size: 30px;
      font-weight: 700;
      margin-top: 35px;
    }
  }

  .single-product-row {
    position:relative;
    margin-bottom: 4rem;
  }

  .related {

    .add_to_cart_button,
    .ajax_add_to_cart {
      display: none !important;
    }

    .title-secondary {
      margin-bottom:4rem;
    }

    ul.products {
      display: flex;
      flex-wrap: wrap;

      li.product {
        position:relative;
        border-bottom:none;

        .price,
        p {
          display:none !important;
        }
      }
    }
  }
}
.single.woocommerce button.button {
  margin-left: 18px;
}

.woocommerce div.product form.cart .variations label {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}

.woocommerce div.product .product_title {
  font-weight: 800;
}

.woocommerce-variation-price {
  margin-bottom: 2rem;
}

.woocommerce-main-image,
.thumbnails {
  img {
    border:4px solid #fff;

    -webkit-border-radius:4px;
    border-radius:4px;

    box-shadow:0 1px 3px #666;
  }
}

.woocommerce-main-image {
  display:block;
  margin-bottom:1rem;
}

.single-product {

  .entry-content {
    margin-bottom:2rem;
    padding:0;
    background-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
  }

  .entry-title {
    font-size:34px;
    display:block;
    margin-bottom:2rem;
  }
}


.woocommerce div.product div.images .flex-control-thumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;

  li {
    border: 2px solid #F1F1F1;
    border-radius: 2px;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23.5%;

    &:nth-child(4n){
      margin-right: 0;
    }
  }
}

/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-sm) {
  .single-product {
    .related {
      ul {
        li {
          width:50% !important;
        }
      }
    }

    .entry-title {
      margin-top:2rem !important;
      font-size:24px;
    }

    .amount {
      font-size:22px;
    }
  }

}
