.alert-info,
.woocommerce .woocommerce-info {
  padding-left: 50px !important;
}

body .woocommerce-store-notice,
body p.demo_store {
  background-color: rgba(#000,.8);

  .woocommerce-store-notice__dismiss-link {
    color: $brand-primary !important;
    font-weight: bold;
  }

  a {
    color: $brand-primary;
  }
}
