
.taken-btn {
	border: none !important;
	margin-bottom: $padding-base-horizontal;
  border-radius: 0!important;
	background-color: $brand-primary;
	color:#FFF !important;
	text-decoration:none;
	outline:none;
	display:inline-block;
	padding:1rem 4rem;
	min-width:170px;
	font-size:14px;
	line-height:1.1;
	text-transform:uppercase;
	text-align: center;
	font-family:$oswald;
	font-weight:700;
	letter-spacing:1px;
	position:relative;
	box-shadow:	1px 1px $brand-secondary, 2px 2px $brand-secondary, 3px 3px $brand-secondary;
	transition: all 420ms ease;

	&:hover,
  &:focus {
		border: none !important;
		text-align: center;
    font-size: 14px;
    text-transform: uppercase;
		color:#FFF !important;
		padding:1rem 4rem;

		background-color: $brand-primary  !important;
    box-shadow:	0 0 $brand-secondary, 0 0 $brand-secondary, 0 0 $brand-secondary !important;
		transform: translateX(1px);
	}

	&:active {
		color:#FFF !important;
	}
}


button {
	background-color:transparent;
	border:0;
	outline:none;
}


body {
  &.woocommerce,
  &.woocommerce-cart,
  &.woocommerce-checkout {
    .main-content {
      .button,
      .checkout-button {
        @extend .taken-btn;
      }
    }
  }
}

body {
	#customer_login,
	.woocommerce-EditAccountForm {
		.button,
		.woocommerce-Button {
			transition: all 400ms ease;
			background-color: #000;
			border: 1px solid #FFF;
			color: #FFF;

			&:hover {
				background-color: $brand-primary;
				color: #FFF;
			}
		}
	}
}

body {
  &.woocommerce-cart,
  &.woocommerce-checkout {
    .main-content {
      .checkout-button {
        width: 100%;
      }
    }
  }
}
