.comment-list {
  //@include .list-unstyled;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}


/*------------------------------------------------------------------
			Comments
------------------------------------------------------------------*/
#comments {

  h2 {
    display:block;
    font-size:22px;
    margin-bottom:2rem;
    padding-bottom:2rem;
    border-bottom: 1px solid #ccc;
  }

	ol.commentlist,
	ul.children {
		margin: 0 !important;

		li {
			list-style: none;
		}
	}

	#comments {
		font-size: 1em;
		font-weight: 700;
		margin: 0 0 1rem;
		padding: 0 0 0 3px;
	}

	h4 {
		margin-bottom: 0;
	}

	.navigation {
		display: none;
	}

	form label {
		position: relative;
		left:3px;
		bottom:4px;
	}

	.comment {
		padding: 20px;
		background: #FFF;
		margin: 0 0 5px;
		border:1px solid #eee;
    list-style:none;

		&:hover .reply {
			opacity: 1;
		}

		&:hover .avatar {
			border-color: #CCC;
		}

		p {
			font-size: 0.8em !important;
		}

		.children {

			.comment {
				padding: 15px 1px 1px 15px;
				position: relative;
				top: 14px;
				border-left: 1px solid #eee;
				border-bottom: none;
				border-top: none;
				border-right: none;
				position: relative;
				background-color: #efefef;

				&::before {
					position: absolute;
					left: -20px;
					width: 20px;
					height: 1px;
					background-color: #eee;
					display: block;
					top:50%;
					content: "";
				}
			}

		}
	}

	.comment-body {
		position: relative;
	}

	.avatar {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		float: left;
		margin: 3px 10px 65px 0;

		border:2px solid #eee;

		@include transition(400ms);


	}

	.comment-author {
		line-height: 1em !important;

		.fn {
			font-weight: 700;
			font-style: normal;
			margin-top: -4px;
			font-size: 0.9em !important;
		}

		.says {
			font-size: 0.9em !important;
			margin-top: -4px;
		}
	}

	.comment-meta {
		font-size: 0.8em !important;
		color: #000;
		position: relative;
		top:-3px;

		a {
			font-size: 0.8em !important;
			color: #000;
		}
	}

	.reply {
		opacity: 0;
		position: absolute;
		right: 10px;
		top: 2px;
		color: #000;
		text-decoration: none !important;

		@include transition(400ms);

		a {
			font-size: 0.6em !important;
		}
	}

	#submit {

		&:hover {
			color: #000;
		}
	}

	#respond {
		padding: 2rem 0;

		h3 {
			font-size: 1.2em;
		}
	}
}
