// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  border: 1px solid #c2c2c2;
  background-color: #FFF;
  padding: 10px 12px;
  width: 100%;
  transition: all 600ms ease;

  &:focus {
    border: 1px solid #000;
  }
}



/*  Gform fields
-------------------------------------------------*/
.validation_error {
  padding:2rem 0;
  font-weight:700;
  margin-bottom:2rem;
}

.gform_fields {
  padding:0 !important;
  margin:0 !important;

  li {
    list-style:none !important;
    margin-bottom:1rem;
  }

  .validation_message {
    font-size:12px;
    color:#FF0000;
  }

  .gfield_label {
    display:none;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    border: 1px solid #c2c2c2;
    background-color: #FFF;
    padding: 8px 10px;
    width: 100%;
    transition: all 600ms ease;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color:#ccc;
    background-color:#f1f1f1;
  }

}

input[type="submit"] {

  @extend .btn;

  color:#FFF;
  font-weight:600;
  text-transform:uppercase;
  background-color:$brand-primary;
}
