@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin transition($duration) {
    -webkit-backface-visibility: hidden;
    -webkit-transition:all $duration ease;
    -moz-transition:all $duration ease;
    -o-transition:all $duration ease;
    transition:all $duration ease;
}

@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -o-transform: scale($scale);
    transform : scale($scale);
}

@mixin taken_title($size) {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  border-bottom: solid 6px #000;
  text-transform: uppercase;
  padding: 0 0 10px;
  font-size: $size;
  letter-spacing: 2px;
  display: block;
  margin: 0 0 20px;
  position: relative;
  font-weight: 700;
  color: #d22027;
  text-shadow: 1px 1px 0 #e4c61f;


  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30%;
    height: 6px;
    bottom: -6px;
    display: block;
    background-color: #d22027;
  }
}

@mixin taken_select {
  background-color: #FFF;
  border: 1px solid  #000;
  padding: 3px 4px;
  height: 34px;
  background: no-repeat #ffffff;
  background-image:url('../images/arrow.png');
  background-position: top right;
  background-size: contain;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}
