.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
{
	@extend	.btn;
	@extend .btn-default;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button,
.add_to_cart_button {
	@extend .btn-success;
  @extend .btn-lg;
  text-transform: uppercase;
  &:hover {
    @extend .btn-success;
    @extend .btn-lg;
    text-transform: uppercase;
  }
}

.woocommerce .woocommerce-error {
	@extend .alert;
	@extend .alert-warning;
}

.woocommerce .woocommerce-info {
	@extend .alert;
	@extend .alert-info;
}

.woocommerce .woocommerce-message {
	@extend .alert;
	@extend .alert-success;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price {
	color: inherit;
	font-size: inherit;
}

.woocommerce .woocommerce-message::before {
	color: inherit;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after  {
  display: none;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  width: 100%;
}

.tax-product_cat {

  .wrap {
    margin-top: 55px;
  }

  .cat-fields {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
    span {
      padding-right: 15px;
    }
  }
}
.woocommerce table.shop_attributes{
    display:inline-table!important;
    border: none;
    tbody {
      border: none;
    }
    tr {
      display:inline-table!important;
      border: none;
    }
    th, td {
      width: auto;
      background: #fff!important;
      border: none;
      p {
        font-style: normal;
      }
    }
    th {
      padding-left: 0;
    }
    th:after {
      content: ':';
    }
    td {
      padding-right: 15px!important;
    }
  }


  .woocommerce-page .related ul.products,
  .woocommerce .related ul.products {
    @extend .row;
  }

  .woocommerce-page .related ul.products li.product,
  .related .woocommerce ul.products li.product {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-lg-3;
    margin: 0;
  }

  .attachment-shop_catalog {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .attachment-shop_catalog {
    margin-bottom: 30px;
  }


.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  background-color:#FFF;
}
