.taken-title {
  @include taken_title(28px);
}

/*  Entry content
-------------------------------------------------------------------------*/
.entry-content {
  background-color:#FFF;
  padding:2rem;
  box-shadow:0 1px 3px #CCC;

  .post-content {
    margin-bottom:4rem;
  }

  img {
    max-width:100%;
    height:auto;
    display:block;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family:$font-family-sans-serif;
    margin-bottom:1.5rem;
  }

  h1 { font-size:3.8vw; }
  h2 { font-size:3.2vw; }
  h3 { font-size:2.8vw; }
  h4 { font-size:2.4vw; }
  h5 { font-size:2vw; }

  p {
    margin-bottom:2rem;
    line-height:1.6;
  }

  ul li,
  ol li,
  p {
    font-size:16px;
    font-weight:300;
  }

  ul,
  ol {
    margin-left:2.5rem;
    margin-bottom:4rem;

    li {
      margin-bottom:0.5rem;
    }
  }

  strong {
    font-weight:700;
  }

  blockquote {
    position:relative;
    font-family:Georgia;
    color:#333;
    font-style:italic;

    p {
      font-size:2vw;
      line-height:1.4;
    }
  }

  .gallery {
    @extend .clearfix;

    figure {
      float:left;
      margin-bottom:2%;
      margin-right:2%;
      width:100%;
      display:block;
      overflow:hidden;
      height:35vh;
      position:relative;
      @extend .clearfix;

      img {
        margin-left:auto;
        margin-right:auto;
      }

      figcaption {
        display:block;
        position:absolute;
        left:0;
        right:0;
        width:100%;
        height:auto;
        color:#FFF;
        line-height:1.1;
        font-size:12px;
        font-weight:300;
        background-color:rgba(0,0,0,.65);
        bottom:0;
        padding:5px 10px;
      }
    }

    &.gallery-columns-2 {
      .gallery-item {
        width:49%;
        height:35vh;

        &:nth-child(2n){
          margin-right:0;
        }
      }
    }

    &.gallery-columns-3 {
      .gallery-item {
        width:32%;
        height:22vh;


        &:nth-child(3n){
          margin-right:0;
        }
      }
    }

    &.gallery-columns-4 {
      .gallery-item {
        width:23.5%;
        height:16vh;
        &:nth-child(4n){
          margin-right:0;
        }
      }
    }

    &.gallery-columns-5 {
      .gallery-item {
        width:18.4%;
        height:12vh;

        &:nth-child(5n){
          margin-right:0;
        }
      }
    }
  }

}



// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: ($line-height-computed / 2) auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: ($line-height-computed / 2);
  height: auto;
}
@media (min-width: $screen-sm-min) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($line-height-computed / 2);
  }
  .alignright {
    float: right;
    margin-left: ($line-height-computed / 2);
  }
}

// Captions
.wp-caption {
  @extend .thumbnail;
}
.wp-caption-text {
  padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}


/*-------------------------------------------------------------------------
            @Mobile
--------------------------------------------------------------------------*/
@media (max-width: $screen-xs) {

  .entry-content {
    ul li,
    ol li,
    p {
      font-size:15px;
    }
  }

}
